# **GI BOTS Assignment**

* **importing libraries**

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

* **importing train data,test data,train_labels data**

In [2]:
train=pd.read_csv('C:\\Users\\Asus\\Desktop\\DATA  Scientist\\train.csv')
test=pd.read_csv('C:\\Users\\Asus\\Desktop\\DATA  Scientist\\test.csv')
train_labels=pd.read_csv('C:\\Users\\Asus\\Desktop\\DATA  Scientist\\trainLabels.csv')

In [46]:
import os
os.chdir("C:\\Users\\Asus\\Desktop\\DATA  Scientist")

In [3]:
print(train.shape,test.shape,train_labels.shape)

(9999, 146) (1999, 146) (49999, 34)

* **Merging train data with train_labels data**

In [4]:
train_with_labels=pd.merge(train,train_labels,on='id')

In [5]:
train_with_labels.shape

(9999, 179)

In [6]:
train_with_labels.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,NO,NO,dqOiM6yBYgnVSezBRiQXs9bvOFnRqrtIoXRIElxD7g8=,GNjrXXA3SxbgD0dTRblAPO9jFJ7AIaZnu/f48g5XSUk=,0.576561,0.073139,0.481394,0.115697,0.472474,...,0,0,0,0,0,0,0,0,0,1
1,2,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,1,0
2,3,NO,NO,ib4VpsEsqJHzDiyL0dZLQ+xQzDPrkxE+9T3mx5fv2wI=,X6dDAI/DZOWvu0Dg6gCgRoNr2vTUz/mc4SdHTNUPS38=,1.341803,0.051422,0.935572,0.041440,0.501710,...,0,0,0,0,0,0,0,0,0,0
3,4,YES,NO,BfrqME7vdLw3suQp6YAT16W2piNUmpKhMzuDrVrFQ4w=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653912,0.041471,0.940787,0.090851,0.556564,...,0,0,0,0,0,0,0,0,0,1
4,5,NO,NO,RTjsrrR8DTlJyaIP9Q3Z8s0zseqlVQTrlSe97GCWfbk=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.415919,0.000000,1.000000,0.000000,0.375297,...,0,0,0,0,0,0,0,0,0,1

In [7]:
Counter([name[0] for name in train_with_labels.columns])

Counter({'i': 1, 'x': 145, 'y': 33})

* **Encoding and preprocessing features converting categorical to numerical**

In [8]:
from sklearn.feature_extraction import DictVectorizer

In [9]:
X_numerical = []
X_test_numerical = []


names_categorical = []

In [10]:
vec = DictVectorizer()

In [11]:
train_with_labels.replace('YES', 1, inplace = True)
train_with_labels.replace('NO', 0, inplace = True)
train_with_labels.replace('nan', np.NaN, inplace = True)

test.replace('YES', 1, inplace = True)
test.replace('NO', 0, inplace = True)
test.replace('nan', np.NaN, inplace = True)

In [12]:
test.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x136,x137,x138,x139,x140,x141,x142,x143,x144,x145
0,1698002,0.0,0.0,9ACcuXc7MMm9V7jZSr3P3VxAKyMvLAtsdwPKwgncc+k=,WV5vAHFyqkeuyFB5KVNGFOBuwjkUGKYc8wh9QfpVzAA=,0.832679,0.049834,0.945938,0.317427,0.482021,...,1.0,0.866667,4672,3311,0,0,0,5,0.945032,0.471318
1,1698003,0.0,0.0,MeBJ/ZzEIXfNKat4w1oeDxiMNKrAeY0PH41i00hpYDo=,tnLDGLnpYhzsik5+X+WPo4KQJoQA0TfWRlmEtQ3XNJQ=,1.415919,0.000000,1.000000,0.000000,0.703088,...,-1.0,1.000000,1263,892,0,0,0,8,0.557175,0.693587
2,1698004,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.870000,4672,3306,1,0,1,0,0.870538,0.405822
3,1698005,0.0,0.0,uduY7XWJ8eFgTltv5P0rPh5GW6KwBu+tPFH13uQRN+0=,0L7+hNDV8S57etySgdljbm2AK1zQuLP77lGk2hyEmCo=,1.129212,0.087020,0.814240,1.112804,0.874318,...,0.0,0.870000,4400,3413,1,0,1,2,0.224729,0.870909
4,1698006,0.0,0.0,kM4KU87XvnvKRvf4dN3Tu4zQYq8fpcqhDTFADWdfCg8=,4LhhvTzxwvh2SnFtcpaRasyvph66a3YDIQCshAfyS2o=,1.415919,0.000000,1.000000,0.000000,0.232779,...,0.0,1.000000,1263,892,1,0,1,6,0.536996,0.223278

In [13]:
train_with_labels.head()

,id,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,y24,y25,y26,y27,y28,y29,y30,y31,y32,y33
0,1,0.0,0.0,dqOiM6yBYgnVSezBRiQXs9bvOFnRqrtIoXRIElxD7g8=,GNjrXXA3SxbgD0dTRblAPO9jFJ7AIaZnu/f48g5XSUk=,0.576561,0.073139,0.481394,0.115697,0.472474,...,0,0,0,0,0,0,0,0,0,1
1,2,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,...,0,0,0,0,0,0,0,0,1,0
2,3,0.0,0.0,ib4VpsEsqJHzDiyL0dZLQ+xQzDPrkxE+9T3mx5fv2wI=,X6dDAI/DZOWvu0Dg6gCgRoNr2vTUz/mc4SdHTNUPS38=,1.341803,0.051422,0.935572,0.041440,0.501710,...,0,0,0,0,0,0,0,0,0,0
3,4,1.0,0.0,BfrqME7vdLw3suQp6YAT16W2piNUmpKhMzuDrVrFQ4w=,YGCdISifn4fLao/ASKdZFhGIq23oqzfSbUVb6px1pig=,0.653912,0.041471,0.940787,0.090851,0.556564,...,0,0,0,0,0,0,0,0,0,1
4,5,0.0,0.0,RTjsrrR8DTlJyaIP9Q3Z8s0zseqlVQTrlSe97GCWfbk=,3yK2OPj1uYDsoMgsxsjY1FxXkOllD8Xfh20VYGqT+nU=,1.415919,0.000000,1.000000,0.000000,0.375297,...,0,0,0,0,0,0,0,0,0,1

In [14]:
train_with_labels.shape

(9999, 179)

In [15]:
for name in train_with_labels.columns :    
    if name.startswith('x') :
        column_type, _ = max(Counter(map(lambda x: str(type(x)), train_with_labels[name])).items(), key = lambda x: x[1])
        
        # LOL expression
        if column_type == str(str) :
            train_with_labels[name] = list(map(str, train_with_labels[name]))
            test[name] = list(map(str, test[name]))

            names_categorical.append(name)
            # print (name, len(np.unique(train_with_labels[name])))
        else :
            X_numerical.append(train_with_labels[name].fillna(-999))
            X_test_numerical.append(test[name].fillna(-999))

In [16]:
X_numerical = np.column_stack(X_numerical)

X_test_numerical = np.column_stack(X_test_numerical)

In [17]:
X_numerical.shape

(9999, 135)

In [18]:
X_test_numerical.shape

(1999, 135)

In [19]:
X_sparse = vec.fit_transform(train_with_labels[names_categorical].T.to_dict().values())
X_test_sparse = vec.transform(test[names_categorical].T.to_dict().values())

In [20]:
print(X_numerical.shape, X_sparse.shape, X_test_numerical.shape, X_test_sparse.shape)

(9999, 135) (9999, 34677) (1999, 135) (1999, 34677)

In [21]:
X_numerical = np.nan_to_num(X_numerical)
X_test_numerical = np.nan_to_num(X_test_numerical)

* **Model Building**

In [27]:
from sklearn.metrics import roc_auc_score, f1_score, log_loss, make_scorer
from sklearn.svm import LinearSVC
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.ensemble import RandomForestClassifier

log_loss_scorer = make_scorer(log_loss, needs_proba = True)

y_columns = [name for name in train_with_labels.columns if name.startswith('y')]

X_numerical_base, X_numerical_meta, X_sparse_base, X_sparse_meta, y_base, y_meta = train_test_split(
    X_numerical, 
    X_sparse, 
    train_with_labels[y_columns].values,
    test_size = 0.5
)

X_meta = [] 
X_test_meta = []

#print "Build meta"

for i in range(y_base.shape[1]) :
    
    print (i)
    
    y = y_base[:, i]
    if len(np.unique(y)) == 2 : 
        rf = RandomForestClassifier(n_estimators = 10, n_jobs = 1)
        rf.fit(X_numerical_base, y)
        X_meta.append(rf.predict_proba(X_numerical_meta))
        X_test_meta.append(rf.predict_proba(X_test_numerical))

        svm = LinearSVC()
        svm.fit(X_sparse_base, y)
        X_meta.append(svm.decision_function(X_sparse_meta))
        X_test_meta.append(svm.decision_function(X_test_sparse))
        
X_meta = np.column_stack(X_meta)
X_test_meta = np.column_stack(X_test_meta)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32

In [29]:
print (X_meta.shape, X_test_meta.shape)

(5000, 96) (1999, 96)

* **Predicting test data**

In [31]:
p_test = []

for i in range(y_base.shape[1]) :
    y = y_meta[:, i]

    constant = Counter(y)
    constant = constant[0] < 4 or constant[1] < 4
    
    predicted = None
    
    if constant :
        # Best constant
        constant_pred = np.mean(list(y_base[:, i]) + list(y_meta[:, i]))
        
        predicted = np.ones(X_test_meta.shape[0]) * constant_pred
        print ("%d is constant like: %f" % (i, constant_pred))
    else :
        rf = RandomForestClassifier(n_estimators=30, n_jobs = 1)
        rf.fit(np.hstack([X_meta, X_numerical_meta]), y)

        predicted = rf.predict_proba(np.hstack([X_test_meta, X_test_numerical]))

        predicted = predicted[:, 1]
        
        rf = RandomForestClassifier(n_estimators=30, n_jobs = 1)
        scores = cross_val_score(rf, np.hstack([X_meta, X_numerical_meta]), y, cv = 4, n_jobs = 1, scoring = log_loss_scorer)

        print (i, 'RF log-loss: %.4f Â± %.4f, mean = %.6f' %(np.mean(scores), np.std(scores), np.mean(predicted)))

    `
    p_test.append(
        predicted
    )
    
p_test = np.column_stack(p_test)

0 RF log-loss: 0.0254 Â± 0.0135, mean = 0.006520
1 RF log-loss: 0.0156 Â± 0.0127, mean = 0.000684
2 RF log-loss: 0.0197 Â± 0.0116, mean = 0.026863
3 RF log-loss: 0.0158 Â± 0.0018, mean = 0.014224
4 is constant like: 0.000200
5 RF log-loss: 0.1157 Â± 0.0301, mean = 0.071040
6 RF log-loss: 0.1429 Â± 0.0344, mean = 0.039903
7 RF log-loss: 0.0100 Â± 0.0118, mean = 0.001301
8 RF log-loss: 0.0964 Â± 0.0355, mean = 0.070502
9 RF log-loss: 0.1014 Â± 0.0213, mean = 0.016842
10 is constant like: 0.000600
11 RF log-loss: 0.1051 Â± 0.0088, mean = 0.068009
12 RF log-loss: 0.0642 Â± 0.0282, mean = 0.013407
13 is constant like: 0.000000
14 RF log-loss: 0.0161 Â± 0.0103, mean = 0.002985
15 RF log-loss: 0.0204 Â± 0.0120, mean = 0.011389
16 is constant like: 0.000100
17 is constant like: 0.000100
18 is constant like: 0.000400
19 RF log-loss: 0.0175 Â± 0.0136, mean = 0.003969
20 RF log-loss: 0.0101 Â± 0.0019, mean = 0.008254
21 RF log-loss: 0.0165 Â± 0.0100, mean = 0.004085
22 RF log-loss: 0.0013 Â± 0.0002, mean = 0.000700
23 RF log-loss: 0.0839 Â± 0.0027, mean = 0.019827
24 RF log-loss: 0.0170 Â± 0.0137, mean = 0.002418
25 RF log-loss: 0.0461 Â± 0.0174, mean = 0.014441
26 RF log-loss: 0.0259 Â± 0.0156, mean = 0.010422
27 RF log-loss: 0.0399 Â± 0.0208, mean = 0.012390
28 RF log-loss: 0.1048 Â± 0.0403, mean = 0.028698
29 RF log-loss: 0.0814 Â± 0.0235, mean = 0.024712
30 RF log-loss: 0.0699 Â± 0.0132, mean = 0.029882
31 RF log-loss: 0.0938 Â± 0.0181, mean = 0.061597
32 RF log-loss: 0.3110 Â± 0.0328, mean = 0.555228

In [42]:
p_test_=np.argmax(p_test,axis=1)

In [43]:
p_test_

array([32, 32,  5, ..., 32, 32, 32], dtype=int64)

In [32]:
p_test.shape

(1999, 33)

* **Submission file**

In [47]:
submission = pd.DataFrame({'id_label': test['id'], 'pred':p_test_})
submission.to_csv('submission.csv', index=False)